html{
  font-size: 20px;
  background-color: #F3F3F3
}
.container img{
  max-width: 100%;
}
 .container {
  overflow: hidden;
}
.main_content {
  background-image: url("../media/images/Paper_new");
  background-size: cover;
  height: 163rem;
  width: auto;
}
#page1 ,
#page2{
  position: relative;
  top: 75px;
  margin: 0% 10%;
  margin-bottom: 5%;
  background-color: #FFFAE2;
  box-shadow: 5px 5px 20px #855;



}
/*header*/

header {
  height: 64px;
  width: 100%;
  position: fixed;
  background: linear-gradient(#C3204C,#841552);
  z-index: 10;
  opacity: 0.90;
  /*flex commands*/
  display: flex;
  justify-content: center;
}
header:hover{
  opacity: 1;
}
header .content{
  width: 98%;
  /*flex commands*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  width: 350px;
  justify-content: space-around;
  list-style-type: none;
}
header .logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

header h2{
  font-weight: 550;
}
header h3{
  opacity: 0.5;
}

/*banner section*/

.banner {
height: 25rem;
/*border: solid blue 1px;*/
padding: 32px 24px;
/*flex commands*/
display: flex;
align-items: center;
justify-content: space-evenly;
}

.banner .container {
  width: 60%;
  height: 100%;
  /*border: solid red 1px;*/
}
.banner .content_sticky {
  width: 300px;
  height: 250px;
  background-color: #FFDD86;
  /*flex commands*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sticky {
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFDD86,#F5F5DC);
  box-shadow: 5px 8px 15px #855E42;
  /*flex commands*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.banner h1 {
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 5;
}
.banner .button {
  background-color: #F8ECC2;
  height: 32px;
  width: 6rem;
  /*flex commands*/
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .banner {
    height: 20rem;
  }
}

/*information section*/

.information_main {
  /*border: solid 1px;*/
  /*flex commands*/
  display: flex;
  justify-content: space-between;
}
/*left*/
.information_left {
  padding: 32px 24px;
  width: 65%;
  line-height: 1.5rem;
  /*flex commands*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information_left h1{
  font-size: 1.5rem;
  font-weight: bold;
}

.information_left p, h4 {
  font-size: 1.2rem;
}
.information_left h4 {
  opacity: 0.5;
}
/*right*/

.information_right {
  position: relative;
  top: 16px; /*makes left&right images level*/
}
.information_right .item {
  border-left: solid 1px;
  padding: 16px;
  line-height: 2rem;
  /*flex commands*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information_right .container {
  width: 35%;
  height: auto;
}
.information_right .content h1 {
  font-size: 1.5rem;
  font-weight: bold;
  width: 65%;
}
.information_right .border_middle {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/*Course section*/

.classes {
  height: 45rem;
  /*flex commands*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content_container {
  background-color: #FDFFF8;
  box-shadow: 10px 10px 5px #855E42;
  height: 20rem;
  line-height: 1.5rem;
  transition: 50ms linear;
}
.content_container:hover {
  position:absolute;
  height: 23rem;
  width: 30%;
  box-shadow: 15px 15px 5px #855E42;
}
.test {
  width: 30%;
}
.classes  h1{
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: solid red;
  text-align: center;
}
.classes ul{
  list-style-type: disc;
  list-style-position: inside;
}
.classes li {
  border-bottom: solid 1px;
}

/*Thesis Section */
.thesis {
  padding: 12px 24px 32px 24px;
  height: 30rem;
  /*flex commadns*/
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thesis_container {
  border: solid 1px;
  /*flex commands*/
  display: flex;
  align-items: center;
}
.thesis_right{
width: 60%;
}
.thesis_right video{
width: 100%;
height: 25rem;
}
.thesis_right .content {
 width: 100%;
}

.thesis_left {
  width: 40%;
  /*flex commands*/
  display: flex;
  flex-direction: column;
}
.thesis_left .item {
  padding: 16px;
  border: solid 1px;

  /*flex commands*/
  display: flex;
  align-items: center;
}
.thesis_left .container {
  width: 35%;
  height: auto;
}

/*footer*/

footer{
  position: relative;
  bottom: 1.75%;
  left: 20%;
  height: 13rem;
  width: 15rem;
  background: linear-gradient(#FFDD86,#F5F5DC);
  font-size: 0.7rem;
  transform: rotate(10deg);
  line-height: 3rem;
  box-shadow: 10px 10px 5px #855E42;

  /*flex commands*/
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

footer li{
  display: flex;
}
